.lorussoland-paragraph {
    font-size: 25px;
    font-family: monospace;
    text-align: center;
    color: rgb(251, 251, 251);
}

body {
    background-color: black;
}

.header-box {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    background-color: rgb(80, 255, 71);
    margin-left: .5%;
    margin-right: .5%;
    margin-top: 1%;
    padding: 30px;
    border-radius: 30px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}