body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.header-box {
    background-color: rgb(80, 255, 71);
    margin-left: .5%;
    margin-right: .5%;
    margin-top: 1%;
    padding: 30px;
    border-radius: 30px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    text-align: center;
}

.header-font {
    font-family: monospace;
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.Paragraph-1 {
    color: white;
    font-family: monospace;
    font-size: 18px;
    margin-top: -50px;
}

.Paragraph-1 p {
    margin-bottom: 5px;
    /* Reduces space between paragraphs */
}

.boxes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}


.box:hover {
    transform: scale(1.1, 1.1);
}

.github-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.github-link img {
    width: 60px;
    height: 60px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.github-link img:hover {
    opacity: 0.9;
    transform: scale(1.1, 1.1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.lorussoland-link {
    position: fixed;
    bottom: 20px;
    right: 90px;
    /* Position to the left of the GitHub logo */
    z-index: 1000;
    width: 20px;
    height: 20px;
}

.lorussoland-link img {

    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.lorussoland-link img:hover {
    opacity: 0.9;
    transform: scale(1.1, 1.1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.diagonal-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 50px;
    background-color: rgb(80, 255, 71);
    transform: skewY(-35deg);
    margin: 0px auto;
    opacity: .7;
    transition: all 1s ease-in-out;
    border-radius: 30px;
    position: relative;
    left: 0px;
    top: 0px;
}

.first-diagonal-box {
    transition: all .3s ease-in-out;
    margin-top: 50px;
    margin-left: 15%;
    width: 45%;
}

.first-diagonal-box:hover {
    transition: all .3s ease-in-out;
    position: relative;
    transform: scale(1.05, 1.05);
}

.diagonal-box:hover {
    transition: all .3s ease-in-out;
    position: relative;
    opacity: 1;
    transform: scale(1.05, 1.05);
    transform: skewY(-35deg);
}

.duplicate {
    margin-top: 100px;
}

.second-diagonnal-box {
    transition: all 1s ease-in-out;
    margin-top: -200px;
    width: 60%;
    margin-left: 35%;
    margin-right: 35%;
}

.third-diagonal-box {
    transition: all .3s ease-in-out;
    margin-top: 100px;
    margin-left: 5%;
    width: 70%;
}