body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.header-box {

    margin-left: .5%;
    margin-right: .5%;
    margin-top: 1%;
    padding: 30px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(38, 161, 0, 0.5);
    border: 4px solid rgb(80, 255, 71);
}

.hello {
    margin-left: 250px;
}

.header {
    text-align: center;
}

.header-font {
    font-family: monospace;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.Paragraph-1 {
    color: white;
    font-family: monospace;
    font-size: 150%;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 10px;
}

.Paragraph-1 p {
    margin-bottom: 5px;
    /* Reduces space between paragraphs */
}

.boxes-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}


.box:hover {
    transform: scale(1.1, 1.1);
}

.github-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.github-link img {
    width: 60px;
    height: 60px;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.github-link img:hover {
    opacity: 0.9;
    transform: scale(1.1, 1.1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.diagonal-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    margin: 0px auto;
    opacity: .7;
    transition: all 1s ease-in-out;
    position: relative;
    left: 0px;
    top: 0px;
}

.diagonal-box-text {
    position: absolute;
    color: rgb(255, 252, 252);
    font-family: monospace;
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    margin-top: -15px;
}

.first-diagonal-box {
    margin-top: -190px;
    margin-left: 50%;
    width: 20%;
    box-shadow: inset 0 60px rgba(91, 91, 91, 0.5);
    border: 4px solid rgb(80, 255, 71);
}

.first-diagonal-box:hover {
    transition: all .3s ease-in-out;
    position: relative;
}

.diagonal-box:hover {
    transition: all .3s ease-in-out;
    position: relative;
    opacity: 1;
    transform: scale(1.01, 1.01);
}

.duplicate {
    margin-top: 100px;
}

.second-diagonal-box {
    transition: all 1s ease-in-out;
    margin-top: -205px;
    width: 20%;
    margin-left: 75%;
    box-shadow: inset 0 60px rgba(91, 91, 91, 0.5);
    border: 4px solid rgb(80, 255, 71);
}

.third-diagonal-box {
    transition: all .3s ease-in-out;
    margin-top: 50px;
    margin-left: 50%;
    width: 20%;
    box-shadow: inset 0 60px rgba(91, 91, 91, 0.5);
    border: 4px solid rgb(80, 255, 71);
}

.fourth-diagonal-box {
    transition: all .3s ease-in-out;
    margin-top: -205px;
    margin-left: 75%;
    width: 20%;
    box-shadow: inset 0 60px rgba(91, 91, 91, 0.5);
    border: 4px solid rgb(80, 255, 71);
}

.fifth-diagonal-box {
    transition: all .3s ease-in-out;
    margin-top: -215px;
    margin-left: 1%;
    width: 20%;
    box-shadow: inset 0 60px rgba(91, 91, 91, 0.5);
    border: 4px solid rgb(80, 255, 71);
}

.sixth-diagonal-box {
    transition: all .3s ease-in-out;
    margin-top: -205px;
    margin-left: 26%;
    width: 20%;
    box-shadow: inset 0 60px rgba(91, 91, 91, 0.5);
    border: 4px solid rgb(80, 255, 71);
}


.box-margin {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(38, 161, 0, 0.5);
    border: 4px solid rgb(80, 255, 71);
    width: 10%;
    margin-left: 1%;
}